### Tagesaufgaben 28-05-2024

In [1]:
import pandas as pd

2. Erstelle ein Jupyter Notebook in deinem lokalen Repository, und importiere den csv-Datensatz

In [2]:
df_titanic = pd.read_csv("titanic.csv")

df_titanic.head()

,Unnamed: 0,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

3. Entferne aus dem Datensatz alle Zeilen in der mindestens ein NaN Wert liegt.

In [5]:
df_titanic_clean = df_titanic.dropna()
df_titanic_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 182 entries, 1 to 889
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   182 non-null    int64
 1   survived     182 non-null    int64
 2   pclass       182 non-null    int64
 3   sex          182 non-null    object
 4   age          182 non-null    float64
 5   sibsp        182 non-null    int64
 6   parch        182 non-null    int64
 7   fare         182 non-null    float64
 8   embarked     182 non-null    object
 9   class        182 non-null    object
 10  who          182 non-null    object
 11  adult_male   182 non-null    bool
 12  deck         182 non-null    object
 13  embark_town  182 non-null    object
 14  alive        182 non-null    object
 15  alone        182 non-null    bool
dtypes: bool(2), float64(2), int64(5), object(7)
memory usage: 21.7+ KB

4. Speichere den bereinigten Datensatz in einer neuen csv Datei "ohne_fehlende_werte.csv".

In [7]:
df_titanic_clean.to_csv("ohne_fehlende_werte.csv")